.header {
  display: flex;
  justify-content: space-between;

  width: 90%;
  margin: 10px auto;
  padding: 7px;

  border: 1px solid var(--color-border-darken);
  border-radius: var(--border-radius-standart);
  box-shadow: var(--shadow-out);
}
